#!/usr/bin/env bash
# some are taken from https://github.com/mathiasbynens/dotfiles/

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# brew cleanup
# https://gist.github.com/indiesquidge/ec010eca3ffa254788c2
alias brewup='brew update; brew upgrade; brew cleanup; brew doctor'

# add your own aliases which should be installed
